
.letter_box {
    border-radius: 8px;
    /*border: 3px solid #9ee4d2;*/
    min-width: 70px;
    min-height: 70px;
    max-height: 70px;
    max-width: 70px;
    background: #26527D;
    color: #f7c469;
    margin: 5px
}
.letter_box.correct {
    background-color: #00CC66;
    color: #184C52;
}

.letter_box.not-in-word {
    background-color: #7D869C;
    color: #860B46;
}

.letter_box.in-word {
    background-color: #F75C03;
    color: #632A1B;
}
