.App {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Navbar styles */
.app-bar {
    width: 100%;
    color: #412525;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-content {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #9ee4d2;
    margin-right: 10px;
    text-decoration: none;
}

.navbar-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #9ee4d2;
}


.letter_box {
    border-radius: 8px;
    border: 3px solid #9ee4d2;
    min-width: 70px;
    min-height: 70px;
    max-height: 70px;
    max-width: 70px;
    background: #0A141F;
    color: #f7c469;
    margin: 5px
}
.letter_box.correct {
    background-color: #412525;
    color: white;
}

.letter_box.not-in-word {
    background-color: #c46352;
    color: white;
}

.letter_box.in-word {
    background-color: #F3A216;
    color: white;
}

.lose.correct-word-display {
    color: #CC0000;
}
.win.correct-word-display {
    color: #CC0000;
}
.custom-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.layout-container {
    height: 100vh;
}

.app-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    padding: 20px;
    width: 20vw;
    height: 30vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 3s ease, color 3s ease; /* Smooth transition for 3 seconds */
}
.custom-card-title {
    display: flex;
    justify-content: center;
    margin: 0;
}

.custom-card.custom-card-1 {
    background-color: #7D869C;
    color: #860B46;
}
.custom-card.custom-card-2 {
    background-color: #00CC66;
    color: #184C52;
}
.custom-card.custom-card-3 {
    background-color: #F75C03;
    color: #632A1B;
}

.custom-card:hover {
    transform: scale(1.05);
}

.game-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid #c46352;
    border-radius: 4px;
    background-color: #f7c469;
    color: #412525;
    outline: none;
}

.input-field::placeholder {
    color: #c46352;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #f7c469;
    background-color: #412525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #714433;
}

/* Centering for the container */
html, body {
    background: linear-gradient(to bottom, #12263A, #0A141F);
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
}
