.App {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.lose.correct-word-display {
    color: #CC0000;
}
.win.correct-word-display {
    color: #CC0000;
}

.layout-container {
    height: 100vh;
}

.game-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    background: linear-gradient(to bottom, #12263A, #0A141F);
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
}

@media (min-width: 1025px) {
    .body-container {
        max-height: 90vh;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .body-container {

    }
}

@media (max-width: 480px) {
    .body-container {

    }
}
